### 1) Pandas

In [3]:
import pandas as pd
df = pd.read_csv("Book1.csv")

df.head()

   a   b  c  d
0   1  1  1  1
1   2  2  2  2
2   3  3  3  3
3   3  3  3  3
4   5  5  5  5

In [4]:
df = pd.read_csv("Book1.csv", header = None)

df.head()

    0  1  2  3
0  a   b  c  d
1   1  1  1  1
2   2  2  2  2
3   3  3  3  3
4   3  3  3  3

to change the names of columns

In [7]:
df = pd.read_csv("Book1.csv",names = ["A","B","C","D"])

df.head()

    A  B  C  D
0  a   b  c  d
1   1  1  1  1
2   2  2  2  2
3   3  3  3  3
4   3  3  3  3

creating index columns

In [12]:
df = pd.read_csv("Book1.csv",index_col= ["Key","Key2"])

df.head(10)

           c   d
Key Key2
1   1      1   1
    2      2   2
    3      3   3
    3      3   3
    5      5   5
2   1      6   6
    2      7   7
    3      8   8
    3      9   9
    5     10  10

skipping over rows that have garbage values

In [16]:
df = pd.read_csv("Book1.csv",skiprows = [3])

df.head()

   Key  Key2  c  d
0    1     1  1  1
1    1     2  2  2
2    1     3  3  3
3    1     5  5  5
4    2     1  6  6

How to scrape dataframes from websites using pandas?

In [ ]:
url ="https://www.basketball-reference.com/leagues/NBA_2015_totals.html"
web_data = pd.read_html(url)