### 1) Pandas

In [151]:
import pandas as pd
df = pd.read_csv("Book1.csv")

df.head()

                    Key  Key2    c    d
0                     1   1.0  1.0  1.0
1                     1   2.0  2.0  2.0
2  # yo this aint a row   NaN  NaN  NaN
3                     1   3.0  3.0  3.0
4                     1   5.0  5.0  5.0

In [184]:
df

                    Key  Key2     c     d
0                     1   1.0   1.0   1.0
1                     1   2.0   2.0   2.0
2  # yo this aint a row   NaN   NaN   NaN
3                     1   3.0   3.0   3.0
4                     1   5.0   5.0   5.0
5                     2   1.0   6.0   6.0
6                     2   2.0   7.0   7.0
7                     2   3.0   8.0   8.0
8                     2   3.0   9.0   9.0
9                     2   5.0  10.0  10.0

In [188]:
import numpy as np
index = np.where(df["Key2"]>2)
index

(array([3, 4, 7, 8, 9], dtype=int64),)

In [180]:
d = df.describe()

In [172]:
t = df.select_dtypes(include = "object").columns
t

Index(['Key'], dtype='object')

In [173]:
t = df.dtypes[df.dtypes == "object"].index
t

Index(['Key'], dtype='object')

In [2]:
df = pd.read_csv("Book1.csv", header = None)

df.head()

                      0     1    2    3
0                   Key  Key2    c    d
1                     1     1    1    1
2                     1     2    2    2
3  # yo this aint a row   NaN  NaN  NaN
4                     1     3    3    3

###### to change the names of columns

In [3]:
df = pd.read_csv("Book1.csv",names = ["A","B","C","D"])

df.head()

                      A     B    C    D
0                   Key  Key2    c    d
1                     1     1    1    1
2                     1     2    2    2
3  # yo this aint a row   NaN  NaN  NaN
4                     1     3    3    3

###### creating index columns

In [4]:
df = pd.read_csv("Book1.csv",index_col= ["Key","Key2"])

df.head(10)

                              c     d
Key                  Key2
1                    1.0    1.0   1.0
                     2.0    2.0   2.0
# yo this aint a row NaN    NaN   NaN
1                    3.0    3.0   3.0
                     5.0    5.0   5.0
2                    1.0    6.0   6.0
                     2.0    7.0   7.0
                     3.0    8.0   8.0
                     3.0    9.0   9.0
                     5.0   10.0  10.0

###### skipping over rows that have garbage values

In [5]:
df = pd.read_csv("Book1.csv",skiprows = [3])

df.head()

   Key  Key2  c  d
0    1     1  1  1
1    1     2  2  2
2    1     3  3  3
3    1     5  5  5
4    2     1  6  6

###### How to scrape dataframes from websites using pandas?

In [3]:
url ="https://www.basketball-reference.com/leagues/NBA_2015_totals.html"
web_data = pd.read_html(url) #returns a list of dataframes that it
                             #found on the site

In [4]:
web_data[1] #meaining we have just one dataset

IndexError: list index out of range

In [5]:
df = web_data[0]
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

###### whenever we want to access multiple columns we have to pass it as a list

In [6]:
df[['MP',"Tm"]]

       MP   Tm
0    1287  NYK
1     248  MEM
2    1771  OKC
3     215  MIN
4    2502  TOT
..    ...  ...
670  2434  TOT
671  1605  MIN
672   829  BRK
673  1487  CHO
674  1731  BOS

[675 rows x 2 columns]

In [7]:
type(df[["MP","Tm"]])

pandas.core.frame.DataFrame

###### Basically one column/row forms a series, and multiple rows/columns/series form a dataframe

###### How to limit the number of rows that are read into pandas

df = pd.read_csv("Book1.csv",nrows = 3) #use nrows operation

df.head()

###### Sometimes if we have a Large dataset which does not fit in our memory then we can divide it into chunks and read it, like this.

In [8]:
df = pd.read_csv("Book1.csv",chunksize = 1) #use nrows operation

df

###### One chunk is basically one row of the dataframe

In [9]:

chunk_list = []  # append each chunk df here 

# Each chunk is in df format
for chunk in df:
    chunk_list.append(chunk)
    
# concat the list into dataframe 
df_concat = pd.concat(chunk_list)

In [10]:
chunk_list[1]

   Key  Key2  c  d
1    1     2  2  2

In [11]:
df_concat

                    Key  Key2     c     d
0                     1   1.0   1.0   1.0
1                     1   2.0   2.0   2.0
2  # yo this aint a row   NaN   NaN   NaN
3                     1   3.0   3.0   3.0
4                     1   5.0   5.0   5.0
5                     2   1.0   6.0   6.0
6                     2   2.0   7.0   7.0
7                     2   3.0   8.0   8.0
8                     2   3.0   9.0   9.0
9                     2   5.0  10.0  10.0

###### DateRange Pandas

In [12]:
dates = pd.date_range('1/1/2020', periods = 10)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [13]:
import numpy as np

ds = pd.Series(np.arange(10), index = [dates])
ds

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
2020-01-08    7
2020-01-09    8
2020-01-10    9
dtype: int32

In [25]:
ds.to_csv("myTimeSeries.csv")

###### Storing to pickle. What is pickle? It is a binary form. It serializes the data which cannoy be read without a proper api/package

In [132]:
ds.to_pickle("myTimeSeries.pkl") #Serialization

In [135]:
pd.read_pickle("myTimeSeries.pkl") #Reserialization

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
2020-01-08    7
2020-01-09    8
2020-01-10    9
dtype: int32

###### Another binary file format is called as .H5 format

In [142]:
frame = pd.DataFrame({'a' : np.random.randn(100)})
frame

           a
0  -0.297177
1   0.174836
2   0.137571
3   0.128112
4   0.735323
..       ...
95  1.266091
96 -0.787456
97 -0.203430
98 -1.144508
99  0.754019

[100 rows x 1 columns]

In [149]:
store = pd.HDFStore('mydata.h5') #making a H5 file
store['obj1'] = frame #storing something in this file
store['onj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [150]:
store["obj1"]

           a
0  -0.297177
1   0.174836
2   0.137571
3   0.128112
4   0.735323
..       ...
95  1.266091
96 -0.787456
97 -0.203430
98 -1.144508
99  0.754019

[100 rows x 1 columns]

###### How to read data without using Pandas library

In [49]:
f.seek(0)

0

In [42]:
import csv
f = open("myTimeSeries.csv", "r")

reader = csv.reader(f)
list(reader)

[['', '0'],
 ['2020-01-01', '0'],
 ['2020-01-02', '1'],
 ['2020-01-03', '2'],
 ['2020-01-04', '3'],
 ['2020-01-05', '4'],
 ['2020-01-06', '5'],
 ['2020-01-07', '6'],
 ['2020-01-08', '7'],
 ['2020-01-09', '8'],
 ['2020-01-10', '9']]

In [47]:
for line in reader:
    print(line)

['', '0']
['2020-01-01', '0']
['2020-01-02', '1']
['2020-01-03', '2']
['2020-01-04', '3']
['2020-01-05', '4']
['2020-01-06', '5']
['2020-01-07', '6']
['2020-01-08', '7']
['2020-01-09', '8']
['2020-01-10', '9']

In [51]:
with open("myTimeSeries.csv") as f:
    lines = list(csv.reader(f))
lines

[['', '0'],
 ['2020-01-01', '0'],
 ['2020-01-02', '1'],
 ['2020-01-03', '2'],
 ['2020-01-04', '3'],
 ['2020-01-05', '4'],
 ['2020-01-06', '5'],
 ['2020-01-07', '6'],
 ['2020-01-08', '7'],
 ['2020-01-09', '8'],
 ['2020-01-10', '9']]

In [55]:
header, values = lines[0], lines[1:]
print(header,"\n",values)

['', '0']
 [['2020-01-01', '0'], ['2020-01-02', '1'], ['2020-01-03', '2'], ['2020-01-04', '3'], ['2020-01-05', '4'], ['2020-01-06', '5'], ['2020-01-07', '6'], ['2020-01-08', '7'], ['2020-01-09', '8'], ['2020-01-10', '9']]

In [56]:
a,b,c = 1,"sudh",23

###### zip() basically creates typles based on index of the data that is passed to it

In [104]:
list(zip(values))

[(['2020-01-01', '0'],),
 (['2020-01-02', '1'],),
 (['2020-01-03', '2'],),
 (['2020-01-04', '3'],),
 (['2020-01-05', '4'],),
 (['2020-01-06', '5'],),
 (['2020-01-07', '6'],),
 (['2020-01-08', '7'],),
 (['2020-01-09', '8'],),
 (['2020-01-10', '9'],)]

In [114]:
list(zip(header,zip(*values)))

[('',
  ('2020-01-01',
   '2020-01-02',
   '2020-01-03',
   '2020-01-04',
   '2020-01-05',
   '2020-01-06',
   '2020-01-07',
   '2020-01-08',
   '2020-01-09',
   '2020-01-10')),
 ('0', ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9'))]

In [115]:
data_dict = {h: v for h,v in zip(header,zip(*values))}
data_dict

{'': ('2020-01-01',
  '2020-01-02',
  '2020-01-03',
  '2020-01-04',
  '2020-01-05',
  '2020-01-06',
  '2020-01-07',
  '2020-01-08',
  '2020-01-09',
  '2020-01-10'),
 '0': ('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')}

In [118]:
l1 = [1,2,3,4,5,6,7,8,9]
l2 = [9,8,7,6,5,4,3,2,1]

list(zip(l1,l2))

[(1, 9), (2, 8), (3, 7), (4, 6), (5, 5), (6, 4), (7, 3), (8, 2), (9, 1)]

In [120]:
dict_data = {i : j for i,j in zip(l1,l2)}
dict_data

{1: 9, 2: 8, 3: 7, 4: 6, 5: 5, 6: 4, 7: 3, 8: 2, 9: 1}

### 2) JSON

In [126]:
obj = """
{"One": ["2020-01-01",
  "2020-01-02",
  "2020-01-03",
  "2020-01-04",
  "2020-01-05",
  "2020-01-06",
  "2020-01-07",
 "2020-01-08",
  "2020-01-09",
  "2020-01-10"],
 "Two": ["0", "1", "2", "', "4", "5", "6", "7", "8", "9"]}
"""
type(obj)

str

In [127]:
import json
result = json.loads(obj)
type(results)

JSONDecodeError: Expecting ',' delimiter: line 12 column 30 (char 197)

In [128]:
text = json.dumps(results)
type(results)

NameError: name 'results' is not defined

In [130]:
pd.DataFrame(data = [data_dict], columns = ["","0"])

,,0
0,"(2020-01-01, 2020-01-02, 2020-01-03, 2020-01-0...","(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)"